@import url('mapbox-gl/dist/mapbox-gl.css');
@import url('@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css');


#root {
  width: 100vw;
  height: 100vh;
}
.bg-teal-700 {
  background-color: #007481;
}
.text-white {
  color: #fff;
}

.mapboxgl-canvas-container.mapboxgl-interactive, .mapboxgl-ctrl-group button.mapboxgl-ctrl-compass {
  cursor: crosshair;
}

#sortbox:checked ~ #sortboxmenu {
  opacity: 1;
}
@tailwind base;
@tailwind components;
@tailwind utilities;